body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.top-white-space{
	margin-top: 20px
}
.minor-title {
	margin-top: 10px;
	margin-bottom: 20px;
}
.social-align {
	padding-bottom: 13px;
}
.myStory {
	margin-left: 10px;
	margin-right: 10px;
}
.title-text {
	font-size: 60px;
}
.title-background {
	/*background-color: #99FFCC;*/
	background-image: linear-gradient(45deg, #99FFCC, #FFFFFF);

}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #D1D1D1; /* old IE */
    background-color: #D1D1D1; /* Modern Browsers */
}
h2 {
	margin-top: 0px;
}
.video-360x200 {
	width: 360px;
	max-width: 360px;
	max-height: 200px;
}
